<div class="container pt-5">
  <div class="row">
    <div class="col-6">
      <div class="border border-secondary border-2 rounded p-5">
          <h6>Digite o valor a ser convertido</h6>
          <hr/>
        <div class="formulario">
          <form [formGroup]="formulario" (ngSubmit)="Converter()">
            <div class="form-group">              
              <input
                type="number"
                class="form-control form-control-sm" placeholder="Valor"
                formControlName="valor"
              />
            </div>

            <div class="">
              <button type="submit" class="btn btn-outline-secondary btn-sm">
                Converter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="visibilidadeValorConvertido">

        <div class="border border-secondary border-2 rounded p-5">
            <h6>Valor convertido</h6>
            <hr/>   
            
            <h1 class="text-primary">{{ valorConvertido }}</h1>
      </div>
      
    </div>
  </div>
</div>
